@charset "utf-8";
/* CSS Document */
#header
{
font-size:60px;
color:#00F;
text-align:center;	
font-weight: 600;
}

.body
{
}

.head
{
	width:100%;
	height: 60px;
	text-align: center;
	font-size: 36px;
	background-color: #F00;	
}

.heading
{
	background-color: orange;
}

.heading1
{
	background-color: pink;
}

.r1
{
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid blue;
}

.r2
{
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid blue;
}

.r3
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer1
{
	background-color: orange;
	padding-top: 20px;
	padding-bottom: 20px;
}
